.card-content input {
  width: 90%;
  display: block;
  margin: 20px;
  border-radius: 4px;
  font-weight: bold;
}
.card-content button {
  border-radius: 20px;
  width: 40%;
  margin-top: 95px;
  margin-left: 30%;
  color: black;
  font-weight: bold;
}
.card-action button {
  border-radius: 5px;
  margin-left: 20px;
  width: 90%;
  margin-right: 120px;
  font-weight: bold;
  color: black;
  /* font-weight: bold; */
}
.card-action h6 {
  color: white;
}
